
build/testfile.aux
build/testfile.log
build/testfile.synctex.gz
build/testfile.pdf
testfile.tex
/build/
regex.txt
examplecode.tex
__pycache__/extractor.cpython-38.pyc
__pycache__/docBuilder.cpython-38.pyc
